# Tuple

In [1]:
t = (4,3,5,6)
#    0 1 2 3
print(t)

(4, 3, 5, 6)

In [2]:
print(t[0])

4

In [3]:
t[0] = 11  # immutable object

TypeError: 'tuple' object does not support item assignment

In [8]:
t = 10
print(t)
type(t)

10

int

In [6]:
my = "one", "two", "three"
print(my)
print(my[2])

('one', 'two', 'three')
three

In [7]:
t = ()
print(t)
print(type(t))

()
<class 'tuple'>

# Tuple unpacking

In [9]:
n = (1,2,3)
a,b,c = n
print(a)
print(b)
print(c)

1
2
3

# Swap two numbers

In [10]:
a = 10
b = 20
c = a
a = b
b = c
print(a)
print(b)

20
10

In [11]:
a = 10  #30
b = 20  #10
a = a+b #
b = a-b
a = a-b
print(a)
print(b)

20
10

In [13]:
a = 10
b = 20
print(b)
print(a)

20
10

In [14]:
a = 10
b = 20
a,b = b,a
print(a)
print(b)

20
10

In [16]:
x, y=[1,2]
x,y = y,x
print(x)
print(y)

2
1

# Tuple Slicing

In [18]:
#                            -2 -1
t = (11,22,33,44,55,66,77,88,99,100)
print(t)

(11, 22, 33, 44, 55, 66, 77, 88, 99, 100)

In [19]:
print(t[3:5])

(44, 55)

In [20]:
print(t[:6])

(11, 22, 33, 44, 55, 66)

In [21]:
print(t[:])

(11, 22, 33, 44, 55, 66, 77, 88, 99, 100)

In [22]:
print(t[-8:-4])

(33, 44, 55, 66)

In [23]:
print(t[-4:-8])

()

In [24]:
print(t[2:9:2])

(33, 55, 77, 99)

In [25]:
print(t[::4])

(11, 55, 99)

In [26]:
print(t[-4:-8:-1])

(77, 66, 55, 44)

In [27]:
print(t[::-1])

(100, 99, 88, 77, 66, 55, 44, 33, 22, 11)

In [28]:
print(t[::-2])

(100, 88, 66, 44, 22)

# Tuple Methods

### count

In [29]:
t = (2,3,4,5,6,7,4)
c = t.count(4)
print(c)

2

### index

In [59]:
t = (2,3,4,5,6,7,4)
print(t.index(6))

4

In [60]:
t = (2,3,4,5,6,7,4)
print(id(t[2]))
print(id(t[-1]))
print(t[2])
print(t[-1])

94895322493792
94895322493792

# Functions

In [31]:
t = (2,3,4,5,6,7,4)
print(len(t))

7

In [33]:
t = (2,3,4,5,6,17,4)
print(max(t))

17

In [34]:
t = (2,3,4,5,6,7,4)
print(min(t))

2

In [35]:
t = (2,3,4,5,6,7,4)
print(sum(t))

31

# Questions

**1. WAP to print how many times a number occured in a tuple**

**2. WAP to remove an item from a tuple.**

In [47]:
t = ('a','e','i','o','u')
t = t[:2]+t[-2:]
print(t)

('a', 'e', 'o', 'u')

In [48]:
t = ('a','e','i','o','u')
l = list(t)
l.remove('i')
t = tuple(l)
print(t)

('a', 'e', 'o', 'u')

**3. WAP to find the position of a tuple in a list.**

In [52]:
print(type(t))

<class 'tuple'>

In [55]:
l = [10,20,30,(100,200),40]

print(isinstance(l,list))
print(isinstance(t,list))

True
False

In [57]:
l = [10,20,30,(100,200),40]
c = 0
for i in l:
    if isinstance(i,tuple):
        break
    else:
        c+=1
    
print(c)

3

In [36]:
t = (4,5,6,7)
print(t)
t = t+(9,)
print(t)
t = t[:3] + (12,13,14) + t[:3]
print(t)

(4, 5, 6, 7)
(4, 5, 6, 7, 9)
(4, 5, 6, 12, 13, 14, 4, 5, 6)

In [39]:
t = (4,5,6,7)
print(t)
print(id(t))
t = t+(9,)
print(t)
print(id(t))
t = t[:3] + (12,13,14) + t[:3]
print(t)
print(id(t))

(4, 5, 6, 7)
140292293540080
(4, 5, 6, 7, 9)
140292294389104
(4, 5, 6, 12, 13, 14, 4, 5, 6)
140292320293712

In [44]:
l = [1,2,3]
print(l)
print(id(l))
l.append(5)
print(l)
print(id(l))

[1, 2, 3]
140292294294496
[1, 2, 3, 5]
140292294294496

In [46]:
t = (1,2,3)
l = list(t)
l.append(5)
print(tuple(l))

(1, 2, 3, 5)